<Configuration status="warn">
    <Appenders>
        <!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss} %t %level{length=1} %c{1}:%L - %m%n"/>
            <!-- pattern="%d{yyyy-MM-dd HH:mm:ss} -&#45;&#45; thread_id=%tid thread_name=%tn thread_priority=%tp -&#45;&#45; %-5p %c{1}:%L - %m%n"/>-->
        </Console>
    </Appenders>
    <Loggers>
        <!-- Root logger referring to console appender -->
        <Root level="info" additivity="false">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>